@charset "UTF-8";

body {
    background-color: rgb(140, 84, 192);
    font: normal 20pt arial;
}
header {
    text-align: center;
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}
#seleção {
    width: 180px;
}